@model Qltt.Models.Class

@{
    ViewData["Title"] = "Tạo lớp học mới";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="CreateClass" method="post">
    <div class="form-group">
        <label>Tên lớp</label>
        <input type="text" name="className" class="form-control" required />
    </div>
    <!-- Select Teacher -->
    @* <div class="form-group">
        <label>Giáo viên</label>
        <select name="teacherEmail" class="form-control">
            @foreach (var teacher in ViewBag.Teachers)
            {
                <option value="@teacher?.Email">@teacher?.firstName @teacher?.lastName</option>
            }
        </select>
    </div> *@

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Tạo lớp</button>
        <a asp-action="ManageClasses" class="btn btn-secondary">Quay lại</a>
    </div>
</form>

