@model Teacher

<h2>Xác nhận xóa giáo viên</h2>
<div>
    <h4>Bạn có chắc chắn muốn xóa giáo viên này?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Họ và tên:</dt>
        <dd class="col-sm-10">@Model.User.FirstName @Model.User.LastName</dd>
        <dt class="col-sm-2">Email:</dt>
        <dd class="col-sm-10">@Model.User.Email</dd>
    </dl>

    <form asp-action="DeleteTeacher">
        <input type="hidden" asp-for="TeacherId" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a asp-action="ManageTeachers" class="btn btn-secondary">Quay lại</a>
    </form>
</div>
