@model IEnumerable<Qltt.Models.Class>

<div class="container mt-4">
    <h2 class="text-center">Thông tin lớp học</h2>

    <div class="card p-4">
        <p><strong>Đây là lớp:</strong> a</p>
        <p><strong>Số môn học:</strong> 5 </p>
        <p><strong>Số học viên:</strong> 5 </p>
    </div>
</div>
